
.octodex {
  margin: auto;
  padding: 0;
}
li {
  list-style: none;
}

li {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: .8em;
}

.image-caption span {
  color: #636363;
}

.image-caption a {
  color: #101010;
  text-decoration: none;
}

.octocat {
  display: inline-block;
  width: 31.5%;
  height: 30%;
  border-radius: 2px;
  margin: 9px;
}

.octocat img {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.image-footer {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  padding: 8px 0;
}

.image-caption img {
  width: 100%;
  display: inline-block;

}

.image-number {
  display: inline-block;
  color:#B5B5B5;
  font-weight: bold;

}

  .image-number::before {
    content: "#";
  }

.image-caption {
  display: inline-block;
  text-align: right;
  width: 91%;

}

.image-caption span {
  display: inline-block;
  text-align: right;
}

.authors {
  padding: 0;
  display: inline-block;
}

.image-caption img {
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    border: none;
}
